.app {
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
}

.app__frame {
    border-right: 0.5px solid var(--secondary);
    position: relative;
    height: 100%;
    width: 100%;
}

.app__frame--left {
    float: left;
}

.app__frame--left .dropdown {
    left: 30px;
}

.app__frame--right {
    float: right;
}

.app__frame--right .dropdown {
    right: 30px;
}

.app__frame--input {
    width: 100%;
    height: 100%;
    border: none;
    font-family: inherit;
    padding: 100px 30px 80px 30px;
    font-size: 30px;
    resize: none;
}

.app__frame--input::placeholder {
    color: #B7B7B7;
}

.app__frame--input:focus {
    outline: none;
}




.dropdown {
    position: absolute;
    top: 30px;
    border: none;
    background-color: #eee;
    color: #888888;
    padding-left: 14px;
    width: 200px;
    height: 40px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
}

.dropdown__option {

}





.app__go {
    position: absolute;
    bottom: 30px;
    right: 30px;
    border: none;
    background-color: #000;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    font-family: inherit;
    border-radius: 15px;
    cursor: pointer;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}

.app__go--image {
    margin-left: 5px;
}


.app__swap {
    position: absolute;
    right: 50%;
    top: 30px;
    margin-right: -20px;
    width: 40px;
    height: 40px;
    z-index: 1000;
    background-color: #000;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}